*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-mx-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-mx-latest.csv filter=lfs diff=lfs merge=lfs -text
